.ctn{
    border-radius: 2px;
    background: rgb(56, 56, 56);
    color: rgb(247, 247, 247);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    gap: 20px;

    width: 220px;

}

.ctn:hover{
    background: rgb(33, 33, 33);
}


.ctn2{
    border-radius: 2px;
    color: rgb(56, 56, 56);
    background: rgb(247, 247, 247);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    width: 220px;

    text-align: left;
    border: rgb(56, 56, 56) solid 1px ;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    gap: 20px;

}

.ctn2:hover{
    background: rgb(59, 99, 152);
    color: rgb(247, 247, 247);
}